// layout
// --------------------------------------------------

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #eee;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    height: 100%;
    color: $color-gray;
    font-family: "Podkova", serif;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-med) {
        font-size: 22px;
    }

    @media (min-width: $screen-lrg) {
        font-size: 24px;
    }

    @media print {
        font-size: 12pt;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: $color-gray;
}

h1 {
    font-size: 36px;
    font-weight: 800;

    @media (min-width: $screen-med) {
        font-size: 48px;
    }

    @media print {
        font-size: 22pt;
    }
}

h2 {
    font-size: 26px;
    font-weight: 700;

    @media (min-width: $screen-med) {
        font-size: 36px;
    }

    @media print {
        font-size: 18pt;
    }
}

h3 {
    font-size: 22px;
    font-weight: 700;

    @media (min-width: $screen-med) {
        font-size: 24px;
    }

    @media (min-width: $screen-lrg) {
        font-size: 26px;
    }

    @media print {
        font-size: 16pt;
    }
}

h4 {
    font-size: 18px;
    font-weight: 600;

    @media (min-width: $screen-med) {
        font-size: 20px;
    }

    @media (min-width: $screen-lrg) {
        font-size: 22px;
    }

    @media print {
        font-size: 14pt;
    }
}

ol,
ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: $color-gray;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

header,
nav,
main,
footer {
    width: 100%;
    min-width: $screen-min;
}

.dash {
    margin: ($spacing-min / 2) 0;
    color: #999;
    font-size: 18px;
    font-weight: normal;
    display: block;

    @media (min-width: $screen-med) {
        margin: $spacing-min 0;
        font-size: 20px;
        font-weight: 700;
    }

    @media print {
        margin: 10px 0;
    }
}