// nav
// --------------------------------------------------

nav {
    margin-top: $spacing-min;
    background-color: #fff;
    font-size: 22px;
    flex: none;

    h2 {
        @include container();
        padding: $spacing-min;
    }

    ul {
        background-color: $color-mint;
        list-style: none;
        text-align: left;
    }

    li {
        //border-bottom: 1px solid #eee;
        transition: background-color 0.3s ease-out;

        a {
            @include container();
            line-height: 95%;
            max-width: $screen-max;
            padding: 15px $spacing-min;
            color: $color-gray;
            font-weight: 500;
            overflow: hidden;
            position: relative;
            display: block;
        }

         span {
            margin-left: 2px;
            font-size: 75%;
            font-weight: normal;
            display: block;

            &:after {
                @include fa-icon();
                content: $fa-var-caret-right;
                padding-left: 7px;
                top: 1px;
                position: relative;
                transition: padding-left 0.15s ease-out;
            }
        }

        &:hover,
        &.selected {
            background-color: $color-pear;
        }

        &:hover {
            span {
                &:after {
                    padding-left: 11px;
                }
            }
        }

        &.andeavor {
            span {
                &:after {
                    color: $color-andeavor;
                }
            }
        }

        &.tease {
            span {
                &:after {
                    color: $color-tease;
                }
            }
        }

        &.walottery {
            span {
                &:after {
                    color: $color-walottery;
                }
            }
        }
    }

    @media (max-width: ($screen-min - 1px)) {
        font-size: 26px;
    }

    @media (min-width: $screen-med) {
        font-size: 32px;

        h2 {
            padding: $spacing-min $spacing-max;
        }

        li {
            a {
                padding: 20px $spacing-max;
            }

            span {
                &:after {
                    font-size: 86%;
                    padding-left: 10px;
                }
            }

            &:hover {
                span {
                    &:after {
                        padding-left: 14px;
                    }
                }
            }
        }
    }
}