// nav
// --------------------------------------------------

nav {
    margin-top: $spacing-min;
    background-color: #fff;
    font-size: 24px;
    clear: both;
    flex: none;

    h2 {
        @include container();
        padding: 0 $spacing-min $spacing-min;
    }

    ul {
        background-color: $color-mint;
        list-style: none;
        text-align: left;
    }

    li {
        transition: background-color 0.3s ease-out;

        a {
            @include container();
            line-height: 95%;
            max-width: $screen-max;
            padding: 15px $spacing-min;
            color: $color-gray;
            font-weight: 600;
            overflow: hidden;
            position: relative;
            display: block;
        }

         span {
            margin-left: 2px;
            color: $color-gray-light;
            font-size: 75%;
            font-weight: 500;
            display: block;

            &:after {
                @include fa-icon();
                content: $fa-var-caret-right;
                padding-left: 7px;
                top: 2px;
                position: relative;
                transition: padding-left 0.15s ease-out;
            }
        }

        &:hover,
        &.selected {
            background-color: $color-pear;
        }

        &:hover {
            span {
                &:after {
                    padding-left: 11px;
                }
            }
        }

        &.andeavor {
            span {
                &:after {
                    color: $color-andeavor;
                }
            }
        }

        &.cole-weber {
            span {
                &:after {
                    color: $color-cole-weber;
                }
            }
        }

        &.columbia-crest {
            span {
                &:after {
                    color: $color-columbia-crest;
                }
            }
        }

        &.nutshell-classics{
            span {
                &:after {
                    color: $color-nutshell-classics;
                }
            }
        }

        &.tease {
            span {
                &:after {
                    color: $color-tease;
                }
            }
        }

        &.washingtons-lottery {
            span {
                &:after {
                    color: $color-washingtons-lottery;
                }
            }
        }
    }

    @media (max-width: ($screen-min - 1px)) {
        font-size: 28px;
    }

    @media (min-width: $screen-med) {
        font-size: 32px;

        h2 {
            padding: 0 $spacing-max $spacing-min;
        }

        li {
            a {
                padding: 25px $spacing-max;
            }

            span {
                &:after {
                    font-size: 86%;
                    padding-left: 10px;
                }
            }

            &:hover {
                span {
                    &:after {
                        padding-left: 14px;
                    }
                }
            }
        }
    }

    @media print {
        display: none;
    }
}

#nav-contact {
    @include container();
    padding: $spacing-min $spacing-min 0;

    a {
        margin-right: 15px;
        font-size: 32px;
        transition: color 0.25s ease-out;

        &:hover {
            color: $color-gray-light;
        }
    }

    .dash {
        color: $color-mint;
    }

    @media (min-width: $screen-med) {
        padding: 30px $spacing-max 0;

        a {
            margin-right: 18px;
            font-size: 38px;
        }
    }
}