// work
// --------------------------------------------------

@import "_font-awesome-4.7.0/font-awesome";

@import "_partials/variables";
@import "_partials/mixins";

main {
    padding-bottom: $spacing-max;

    p {
        margin-bottom: $spacing-min / 2;
    }

    h3 {
        padding-top: 30px;
        
        &:after {
            content: "\2014";
            font-size: 18px;
            font-weight: normal;
            display: block;
        }
    }

    ul {
        margin-bottom: $spacing-min / 2;
        margin-left: $spacing-min;
        text-align: left;
        display: inline-block;
    }

    img {
        width: 100%;
        height: auto;
    }

    &.andeavor {
        h1 {
            a {
                &:after {
                    color: $color-andeavor;
                }
            }
        }

        h3 {
            &:after {
                color: $color-andeavor;
            }
        }

        .logo {
            max-width: 50px;
        }

        #work-header {
            &:after {
                color: $color-andeavor;
            }
        }
    }

    &.cole-weber {
        h1 {
            a {
                &:after {
                    color: $color-cole-weber;
                }
            }
        }

        h3 {
            &:after {
                color: $color-cole-weber;
            }
        }

        p {
            a {
                color: $color-cole-weber;
            }
        }

        .logo {
            max-width: 40px;
        }

        #work-header {
            &:after {
                color: $color-cole-weber;
            }
        }
    }

    &.columbia-crest {
        h1 {
            &:after {
                color: $color-columbia-crest;
            }

            a {
                &:after {
                    color: $color-columbia-crest;
                }
            }
        }

        h3 {
            &:after {
                color: $color-columbia-crest;
            }
        }

        #work-header {
            &:after {
                color: $color-columbia-crest;
            }
        }
    }

    &.tease {
        h1 {
            &:after {
                color: $color-tease;
            }

            a {
                &:after {
                    color: $color-tease;
                }
            }
        }

        h3 {
            &:after {
                color: $color-tease;
            }
        }

        .logo {
            max-width: 100px;
        }

        #work-header {
            &:after {
                color: $color-tease;
            }
        }
    }

    &.washingtons-lottery {
        h1 {
            a {
                &:after {
                    color: $color-washingtons-lottery;
                }
            }
        }

        h3 {
            &:after {
                color: $color-washingtons-lottery;
            }
        }

        .logo {
            max-width: 65px;
        }

        #work-header {
            &:after {
                color: $color-washingtons-lottery;
            }
        }
    }

    @media (min-width: 375px) {
        &.columbia-crest {
            #work-header {
                > div {
                    > div {
                        &:first-child {
                            width: 100%;
                            padding-right: 0;
                        }

                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: ($screen-med - 1px)) {
        &.tease {
            #work-header {
                > div {
                    > div {
                        &:first-child {
                            width: 70%;
                        }

                        &:last-child {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screen-med) {
        h3 {
            &:after {
                font-size: 20px;
                font-weight: 700;
            }
        }

        &.andeavor {
            .logo {
                max-width: 70px;
            }
        }

        &.cole-weber {
            .logo {
                max-width: 55px;
            }
        }

        &.tease {
            .logo {
                max-width: 135px;
            }
        }

        &.washingtons-lottery {
            .logo {
                max-width: 90px;
            }
        }
    }

    @media (min-width: $screen-lrg) {
        &.andeavor {
            .logo {
                max-width: 75px;
            }
        }

        &.cole-weber {
            .logo {
                max-width: 60px;
            }
        }

        &.tease {
            .logo {
                max-width: 150px;
            }
        }
    }
}

#work-header {
    &:after {
        margin: ($spacing-min / 2) 0;
        content: "\2014";
        font-size: 18px;
        font-weight: normal;
        display: block;
    }

    h1 {
        a,
        span {
            line-height: 100%;
            margin-top: 5px;
            margin-left: 2px;
            color: $color-gray-light;
            font-size: 60%;
            font-weight: 600;
            display: block;
        }

        a {
            &:after {
                @include fa-icon();
                content: $fa-var-external-link;
                padding-left: 7px;
                font-size: 80%;
                top: 1px;
                position: relative;
                transition: padding-left 0.15s ease-out;
            }

            &:hover {
                &:after {
                    padding-left: 11px;
                }
            }
        }
    }

    > div {
        width: 100%;
        display: table;

        > div {
            vertical-align: middle;
            display: table-cell;

            &:first-child {
                width: 100%;
            }

            &:last-child {
                width: 25%;
                padding-left: $spacing-min / 2;
                text-align: center;
                display: none;
            }
        }
    }

    .logo {
        display: none;
    }

    @media (min-width: 375px) {
        .logo {
            display: inline-block;
        }

        > div {
            > div {
                &:first-child {
                    width: 75%;
                    padding-right: $spacing-min / 2;
                }

                &:last-child {
                    display: table-cell;
                }
            }
        }
    }

    @media (min-width: $screen-med) {
        &:after {
            margin: $spacing-min 0;
            font-size: 20px;
            font-weight: 700;
        }

        h1 {
            a {
                &:after {
                    padding-left: 9px;
                }

                &:hover {
                    &:after {
                        padding-left: 13px;
                    }
                }
            }
        }

        > div {
            > div {
                &:first-child {
                    padding-right: $spacing-min;
                }

                &:last-child {
                    padding-left: $spacing-min;
                    text-align: left;
                }
            }
        }
    }

    @media (min-width: $screen-lrg) {
        > div {
            > div {
                &:first-child {
                    padding-right: $spacing-max;
                }

                &:last-child {
                    padding-left: $spacing-max;
                }
            }
        }
    }
}

#work-content {
    > aside {
        display: none;

        > div {
            &:first-child {
                > h3 {
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    @media (min-width: 375px) {
        > div {
            > aside {
                margin: 0 auto;
                display: table;

                > div {
                    display: table-cell;

                    &:first-child {
                        padding-right: $spacing-max / 2;

                        p {
                            + h3 {
                                padding-top: 14px;
                            }
                        }
                    }

                    &:last-child {
                        padding-left: $spacing-max / 2;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-med) {
        width: 100%;
        display: table;

        > div,
        > aside {
            vertical-align: top;
            display: table-cell;
        }

        > div {
            width: 75%;
            padding-top: 0;
            padding-right: $spacing-min;
            border-top: none;

            aside {
                display: none;
            }
        }

        aside {
            width: 25%;
            padding-left: $spacing-min;
        }
    }

    @media (min-width: $screen-lrg) {
        > div {
            padding-right: $spacing-max;
        }

        aside {
            padding-left: $spacing-max;
        }
    }
}

#work-screens {
    margin-top: $spacing-max;
    clear: both;
    text-align: center;

    img {
        max-width: 414px;
        margin-bottom: $spacing-min;

        &.work-screen-lrg {
            max-width: 800px;
        }
    }

    @media (min-width: $screen-med) {
        img {
            margin-bottom: $spacing-max;
        }
    }
}