h1 Clint Harrison#[a(href="#", onclick="window.print();", class="fa fa-print")]
a(href="mailto:#{email}") clint@cowlik.com
a(href="http://www.cowlik.com") www.cowlik.com
p.dash &mdash;
h2 Experience:
h3 Senior Interactive Developer
h4 Cole &amp; Weber
p January 2014 - Present
br
h3 Interactive Developer
h4 Cole &amp; Weber
p July 2011 - August 2013
br
h3 Prototyper, MSN
h4 Microsoft | Allovus
p December 2010 - July 2011
br
h3 Flash Developer
h4 Razorfish | Filter
p April 2010 - December 2010
br
h3 Web Designer &amp; Flash Developer, Xbox.com
h4 Microsoft | Filter
p March 2006 - January 2010
p.dash &mdash;
h2 Education:
h3 Art Institute of Seattle
h4 AAA, Interactive Media Design
p 2004 - 2006
br
h3 Art Institute of Seattle
h4 AAA, Visual Communications
p 1999 - 2001
p.dash &mdash;
h2 Technologies:
p HTML, CSS, JavaScript, jQuery, LESS, SASS, Grunt, Gulp, Harp, #[span Jade, Markdown, Node.js, Git, Visual Studio, Photoshop, Illustrator]