mixin aside()
    aside
        div
            h3 Launched:
            p= launch
            h3 Responsibities:
            ul
                li UI
                li Development
        div
            h3 Technologies:
            ul
                li HTML
                li SASS
                li JavaScript
                li Harp
                li Jade
                li Gulp

header#work-header
    div
        div
            h1 !{title.replace(" - ", "<a href='http://www.andeavor.com' target='_blank'>")}
        div
            img(class="logo", src="/imgs/work/andeavor/logo.svg", width="124", height="98", alt="Andeavor")
section#work-content
    div
        p Our client, Tesoro, wanted to announce their acquisition and merge with Western Refining, forming a new company called Andeavor. They requested the release of two microsites simultaneously on the day of their announcement, one public and one internal. Utilizing shared UI elements, I came up with a solution to quickly switch between these two versions and publish updated content under some very tight deadlines. 
        +aside()
        div#work-screens
            img(src="/imgs/work/andeavor/screen-home-1.jpg", width="414", height="736", alt="Home")
            img(src="/imgs/work/andeavor/screen-home-2.jpg", width="414", height="736", alt="Home")
            img(src="/imgs/work/andeavor/screen-home-3.jpg", width="414", height="736", alt="Home")
            img(src="/imgs/work/andeavor/screen-video.jpg", width="800", height="825", alt="Video", class="work-screen-lrg")
            img(src="/imgs/work/andeavor/screen-faq.jpg", width="414", height="736", alt="FAQ")
    +aside()
    
