mixin aside()
    aside
        div
            h3 Launched:
            p= launch
            h3 Responsibities:
            ul
                li UI
                li Development
        div
            h3 Technologies:
            ul
                li HTML
                li SASS
                li JavaScript
                li Harp
                li Jade
                li Markdown
                li Gulp

header#work-header
    div
        div
            h1 !{title.replace(" - ", "<a href='http://www.coleweber.com' target='_blank'>")}
        div
            img(class="logo", src="/imgs/work/cole-weber/logo.svg", width="30", height="34", alt="Cole & Weber")
section#work-content
    div
        p So, our agency needed a complete brand and website overhaul... This was my first chance at working with Harp, a static site server/generator, and I've been a huge fan ever since. On top of experimenting with and learning Harp, the #[a(href="http://www.coleweber.com/people/", target="_blank") People] section was a fun, engaging piece to build. Whether a user hovers over a person (desktop) or scrolls the page (mobile), he or she will "pop-up" upon focus.
        +aside()
        div#work-screens
            img(src="/imgs/work/cole-weber/screen-home-1.jpg", width="414", height="736", alt="Home")
            img(src="/imgs/work/cole-weber/screen-home-2.jpg", width="414", height="736", alt="Home")
            img(src="/imgs/work/cole-weber/screen-work.jpg", width="414", height="736", alt="Work")
            img(src="/imgs/work/cole-weber/screen-hawksome.jpg", width="414", height="736", alt="Hawksome")
            img(src="/imgs/work/cole-weber/screen-people.jpg", width="414", height="736", alt="People")
            img(src="/imgs/work/cole-weber/screen-story.jpg", width="414", height="736", alt="Story")
    +aside()
    
