h1 !{title.replace(" - ", "<a href='http://www.teaseballard.com' target='_blank'>")}
div
    div
        p This lovely salon located in the Ballard neighborhood of Seattle was in need of a website makeover. Being jointly owned by my wife and sister-in-law, they gave me the complete freedom to design and develop the new site. Since launching the site, the salon has seen a steady rise in bookings thanks to UI &amp; SEO improvement, plus Facebook integration. 
    div
        img(class="logo", src="/work/imgs/tease/logo.svg", width="232", height="122", alt="tease")
        h3 Launch
        p 04.25.2017
        h3 Responsiblities:
        ul
            li Design
            li UI
            li Development
        h3 Technologies
        ul
            li HTML5
            li CSS
            li JavaScript
            li Harp
            li Jade
            li Node.js
            li Gulp
            li SASS
            li Git
