mixin aside()
    aside
        h3 Launched:
        p March 2016
        h3 Responsibities:
        ul
            li UI
            li Development
        h3 Technologies:
        ul
            li HTML
            li LESS
            li JavaScript
            li C#
            li Grunt

header#work-header
    div
        div
            h1 !{title.replace(" - ", "<a href='http://www.walottery.com' target='_blank'>")}
        div
            img(class="logo", src="/imgs/work/walottery/logo.svg", width="90", height="90", alt="Washington's Lottery")
div
    div
        p After a good 10+ years running on their former site, it was time for it to be retired. We needed to build a fresher, responsive website with modern browser capabilities while delivering a plethora of content, old and new. Amongst the many obstacles, the biggest one was being the sole front-end developer on this gigantic, 6-month effort. As a result, I was proud to say the new website was received with great fanfare by the employees and customers of Washington's Lottery. 
        +aside()
        div.work-screens
            img(src="/imgs/work/walottery/screen-home.jpg", width="414", height="736", alt="Home")
            img(src="/imgs/work/walottery/screen-scratch.jpg", width="414", height="736", alt="Scratch")
            img(src="/imgs/work/walottery/screen-winning-numbers.jpg", width="414", height="736", alt="Winning Numbers")
            img(src="/imgs/work/walottery/screen-check-your-ticket.jpg", width="414", height="736", alt="Check Your Ticket")
            img(src="/imgs/work/walottery/screen-past-drawings.jpg", width="414", height="736", alt="Past Drawings")
            img(src="/imgs/work/walottery/screen-media.jpg", width="414", height="736", alt="Media")
    +aside()
    
