// variables
// --------------------------------------------------

// breakpoints
$screen-min: 280px;
$screen-med: 760px;
$screen-lrg: 980px;
$screen-max: 1200px;

// colors
$color-gray: #666;
$color-gray-light: #777;
$color-mint: #66ffcc;
$color-pear: #ccffcc;

$color-andeavor: #6100b0;
$color-cole-weber: #e9501c;
$color-columbia-crest: #a9402c;
$color-nutshell-classics: #b59551;
$color-rdsoda: #387754;
$color-sightlife: #654b7a;
$color-tease: #f7941e;
$color-washingtons-lottery: #6ec829;

// paths
$path-root: "../";
$path-imgs: "#{$path-root}imgs/";
$path-work: "#{$path-root}work/";

// spacing
$spacing-min: 20px;
$spacing-max: 40px;