// variables
// --------------------------------------------------

// breakpoints
$screen-min: 320px;
$screen-med: 760px;
$screen-max: 1200px;

// colors
$color-gray: #666;
$color-gray-light: #777;
$color-mint: #66ffcc;
$color-pear: #ccffcc;

// paths
$path-root: "../";
$path-imgs: "#{$path-root}imgs/";

// spacing
$spacing-min: 20px;
$spacing-max: 40px;