- var page = current.path[0]

link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Podkova:400,500,600,700")

if environment == "production"
    link(rel="stylesheet", href="/css/cowlik.min.css")
else
    link(rel="stylesheet", href="/css/cowlik.css")