- var feature = public.work._data["washingtons-lottery"]

section#feature
    h2 Featured Work:
    div(onclick="window.open('/work/washingtons-lottery', '_self')")
        div
            img(src="/imgs/work/washingtons-lottery/logo-white.svg", width="90", height="90", alt="Washington's Lottery")
        div
            h3 !{feature.title.replace(" - ", "<span>")}
            p After a good 10-year run, it was time to retire their former website and, in turn, build a fresher, responsive website