mixin a(slug, title)
    a(href="/work/#{slug}") !{title.replace(" - ", "<span>")}

nav
    h2 Latest Work:
    ul
        for item, slug in public.work._data
            if item.publish != "false"
                if slug == current.path[1]
                    li(class="#{slug} selected")
                        +a(slug, item.title)
                else
                    li(class="#{slug}")
                        +a(slug, item.title)